.quotes-block {
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 0 10px;
    padding-right: 0;
    flex-grow: 10;
    margin-bottom: 50px;
    background: whitesmoke;
    position: relative;
    min-height: 60vh;
}
.quotes-block h3{
    text-align: center;
}
